@charset "UTF-8";
/*------------------------------------------------
  footer
------------------------------------------------*/
footer {

}//footer
@include tablet {
  /*------------------------------------------------
    footer
  ------------------------------------------------*/
  footer {

  }//footer

}//mediaquery
