@charset "UTF-8";
/*------------------------------------------------
  header
------------------------------------------------*/
header {

}//header

@include tablet {
  /*------------------------------------------------
    header
  ------------------------------------------------*/
  header {

  }//header

}//mediaquery
