@charset "UTF-8";
/*------------------------------------------------
  reset
------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
*, *:before, *:after {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
sub, sup, small {
	font-size: 80%;
}
area {
	border:none;
	outline:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th{
	text-align:left;
	font-weight:normal;
	vertical-align: middle;
}
ol, ul {
	list-style: none;
}
button, input, select, textarea {
	margin: 0;
	padding: 0;
	border-style: none;
}
input, select {
	vertical-align:middle;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
img, fieldset, iframe {
	border:0;
	vertical-align:middle;
}
img, embed, iframe, object, audio, video {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}



body {
	text-align: justify; // 両端揃え
	text-justify: inter-ideograph; // 両端揃えの種類(IE用)
	-webkit-font-feature-settings: "palt" 1; //文字詰め
	font-feature-settings: "palt" 1;
	-webkit-text-size-adjust: 100%; //スマホでPC表示した際に勝手に文字が大きくなるのを防ぐ
}
