@charset "UTF-8";
/* ------------------------------------------------
  sitebase
------------------------------------------------ */
//制作するサイトのベースとなるスタイルを記載
html {
  @if $fz625 == yes {
    @include fz625; // 16px x 0.625 = 10px(=1rem) //mixin.scss
  }
}

@include tablet {
/*------------------------------------------------
    sitebase
  ------------------------------------------------*/
  html {
    @if $fzvwbase == yes {
      @include fzvwbase;  //レスポンシブ（スマホデザインサイズベース）基準フォントサイズ 10px
    } @else if $fzvwbreakpoint == yes {
      @include fzvwbreakpoint;  //レスポンシブ（ブレイクポイント1/2幅）基準フォントサイズ 10px
    }
  }
}//mediaquery

body {
  // min-width: calc(#{$width_outer} + #{$browse_gutter});
  color: $font_color_base;     //variable.scss
  font-size:$font_size_base;     //variable.scss 任意にremサイズ決める時
  font-family:$font_yugo;     //font.scss
  // font-family:$font_notosansjp;     //font.scss
  line-height: $line-height_base;     //variable.scss
  background: $backgroaund_color_base;     //variable.scss

  text-align: justify; // 両端揃え
  text-justify: inter-ideograph; // 両端揃えの種類(IE用)
  // -webkit-font-feature-settings: "palt" 1; //文字詰め
  font-feature-settings: "palt" 1;
  // -webkit-text-size-adjust: 100%; //スマホでPC表示した際に勝手に文字が大きくなるのを防ぐ
}


//@include notosans_jp;     //Webfont 日本語 body{font-family:$font_notosansjp;} と併用する @font-face Noto Sans JP   font.scss
//@include notosans_sc;     //Webfont 中国語（簡体字） @font-face Noto Sans SC   font.scss


@include tablet {
  body {
    font-size:($font_size_base/1.14285714);  //ex PC 1.6rem -> SP 1.4rem
  }
}//mediaquery


/* ------------------------------------------------
  共通レイアウト
------------------------------------------------ */

a {
  display: block;
  color: $anchor_color_base;     //variable.scss
  outline: none;
  text-decoration:none;
  transition: color 0.3s;

  &:visited {
    color: darken($anchor_color_base, 20%);     //variable.scss
  }
  &:hover,
  &:visited:hover {
    color: $anchor_color_accent;     //variable.scss
    text-decoration: none;
    opacity: .8;
  }
}//a

//pタグ内のリンクはinline
p a {
    display: inline;
    color: $font_color_base;     //variable.scss
    text-decoration: underline;
}
p a:hover {
    text-decoration: none;
    opacity: 1;
}

