@charset "utf-8";
// variable

//フォント サイズ・カラー
$font_color_base: #333;
$font_size_base: 1.6rem;
$line-height_base:1.6;

//ベースカラー
$color_base: #8CC448;
$color_accent: #E9B800;

//アンカーカラー
$anchor_color_base:#3278be;
$anchor_color_accent:#d42670;

//背景色
$backgroaund_color_base: #eee;



//---------------------------------------------------------------------------------------------------------------
//画像パス
$common: '/assets/images/common/';
$top: '/assets/images/top/';

// .hoge_img { background-image:url(#{$common}画像名.png); }


//---------------------------------------------------------------------------------------------------------------

//レイアウト
$browse_gutter: 15px;
$width_outer: 1200px ;
$width_inner: 1000px ;


//---------------------------------------------------------------------------------------------------------------
//ブレイクポイント用 (responsive.scss)  利用しないものはコメントアウトする

$desktop: 1000px;  //desktopのみの利用時があるときだけ 通常はコメントアウトでよい

$tablet: 768px;  //breakpoint タブレット幅のとき → $tabletだけ記載 その他はコメントアウト
$break_tablet : yes ; //'yes' or 'no' で記載  display_switch用(responsive.scss)

$mobile: 414px;  //breakpoint タブレット幅のとき および モバイル幅のとき → $tablet と $mobile記載
$break_tablet_mobile : no ; //'yes' or 'no' で記載  display_switch用(responsive.scss)

//---------------------------------------------------------------------------------------------------------------


